@font-face {
  font-family: 'Oracle-bold';
  src: url("~@/assets/fonts/OracleSans-Bd.woff2");
}
@font-face {
  font-family: 'Oracle-regular';
  src: url("~@/assets/fonts/OracleSans-Rg.woff2");
}
@font-face {
  font-family: 'Oracle-sbold';
  src: url("~@/assets/fonts/OracleSans-SBd.woff2");
}
@font-face {
  font-family: 'Oracle-italic';
  src: url("~@/assets/fonts/OracleSans-SBdIt.woff2");
}